@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    @apply w-2 h-2 bg-slate-600;
  }
  *::-webkit-scrollbar-thumb {
    @apply w-2 h-2 rounded-md bg-slate-500;
  }
  pre {
    @apply whitespace-pre-wrap;
  }
}

@layer components {
  .bg-ghost {
    @apply hover:bg-slate-200 hover:dark:bg-slate-800 active:bg-slate-300 active:dark:bg-slate-700 transition-colors;
  }
  .text-link {
    @apply hover:text-sky-800 hover:dark:text-sky-200 active:text-sky-700 active:dark:text-sky-300 transition-colors;
  }
  .text-dim {
    @apply text-slate-600 dark:text-slate-400 transition-colors;
  }
  .article {
    @apply max-w-none py-4 text-inherit
      prose dark:prose-invert
      prose-headings:text-slate-700 dark:prose-headings:text-slate-300 prose-headings:transition-colors
      prose-p:text-slate-700 dark:prose-p:text-slate-300 prose-p:transition-colors
      prose-a:text-slate-700 dark:prose-a:text-slate-300 prose-a:text-link prose-a:transition-colors prose-a:underline-offset-4
      prose-blockquote:transition-colors
      prose-strong:text-sky-800 dark:prose-strong:text-sky-200 prose-strong:transition-colors
      prose-code:transition-colors
      prose-pre:transition-colors
      prose-li:marker:transition-colors
      prose-thead:transition-[border]
      prose-tr:transition-[border]
      prose-hr:transition-colors;
  }
}
