---
import type { GetStaticPaths, Page } from "astro";
import Pagination from "components/Pagination.astro";
import Post from "components/Post.astro";
import SectionTitle from "components/SectionTitle.astro";
import TimelineItem from "components/TimelineItem.astro";
import TimelineList from "components/TimelineList.astro";
import NormalLayout from "layouts/NormalLayout.astro";
import { toKebabCase } from "utils/misc";
import { fetchPostsByTag } from "utils/post/fetchPostsByTag";
import { fetchTags } from "utils/post/fetchTags";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const tags = await fetchTags();
  return Promise.all(
    tags.map(async ({ name }) => {
      const posts = await fetchPostsByTag(name);
      return paginate(posts, {
        params: { tag: toKebabCase(name) },
        pageSize: 5,
        props: { tagName: name },
      });
    })
  );
};

export type Props = {
  page: Page<PostSummary>;
  tagName: string;
};
const { page, tagName } = Astro.props;
const { tag } = Astro.params;
---

<NormalLayout title={tagName} description={`All posts under tag ${tagName}.`}>
  <SectionTitle>🏷️ {tagName}</SectionTitle>
  <TimelineList>
    {
      page.data.map((post) => (
        <TimelineItem>
          <Post ghost {...post} />
        </TimelineItem>
      ))
    }
  </TimelineList>
  <div class="grow"></div>
  <Pagination path={`/tags/${tag}`} {...page} />
</NormalLayout>
