---
import SectionTitle from "components/SectionTitle.astro";
import Tag from "components/Tag.astro";
import NormalLayout from "layouts/NormalLayout.astro";
import { fetchTags } from "utils/post/fetchTags";

const tags = await fetchTags();
---

<NormalLayout title="Tags" description="Tags of Yuwang Cai's posts.">
  <main class="max-w-5xl min-h-screen p-8 pt-20 mx-auto">
    <SectionTitle>🏷️ Tags</SectionTitle>
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 mt-4">
      {
        tags.map((tag) => (
          <li>
            <Tag {...tag} />
          </li>
        ))
      }
    </ul>
  </main>
</NormalLayout>
