---
import SectionTitle from "components/SectionTitle.astro";
import Tag from "components/Tag.astro";
import NormalLayout from "layouts/NormalLayout.astro";
import { fetchTags } from "utils/post/fetchTags";

const tags = await fetchTags();
---

<NormalLayout title="Tags" description="Tags of Yuwang Cai's posts">
  <SectionTitle>🏷️ Tags</SectionTitle>
  <ul class="columns-xs space-y-3 mt-6">
    {
      tags.map((tag) => (
        <li>
          <Tag {...tag} />
        </li>
      ))
    }
  </ul>
</NormalLayout>
