---
import FeaturedPosts from "components/FeaturedPosts.astro";
import LatestPosts from "components/LatestPosts.astro";
import LatestTags from "components/LatestTags.astro";
import NormalLayout from "layouts/NormalLayout.astro";
---

<NormalLayout title="Home" description="Homepage of Yuwang Cai's blog.">
  <section class="space-y-4 mb-6">
    <FeaturedPosts />
  </section>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <section class="lg:col-span-2 order-2 lg:order-1 space-y-3">
      <LatestPosts />
    </section>
    <section class="lg:col-span-1 order-1 lg:order-2 space-y-3">
      <LatestTags />
    </section>
  </div>
</NormalLayout>
