---
import FeaturedPosts from "components/FeaturedPosts.astro";
import LatestPosts from "components/LatestPosts.astro";
import LatestTags from "components/LatestTags.astro";
import NormalLayout from "layouts/NormalLayout.astro";
---

<NormalLayout title="Home" description="Homepage of Yuwang Cai's blog.">
  <main class="max-w-7xl min-h-screen p-8 pt-20 mx-auto">
    <section>
      <FeaturedPosts />
    </section>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-6">
      <section class="lg:col-span-2 order-2 lg:order-1">
        <LatestPosts />
      </section>
      <section
        class="lg:col-span-1 order-1 lg:order-2 lg:sticky lg:top-16 h-fit"
      >
        <LatestTags />
      </section>
    </div>
  </main>
</NormalLayout>
