---
import Logo from "./Logo.astro";
import ThemeToggler from "./ThemeToggler";
---

<header
  class="fixed top-0 left-0 right-0 px-8 py-4 bg-gray-1 dark:bg-graydark-1 bg-opacity-70 dark:bg-opacity-70 backdrop-blur z-30"
>
  <div class="flex justify-between items-center gap-2 max-w-7xl mx-auto">
    <Logo />
    <ThemeToggler client:load />
  </div>
</header>
