---
import BackToTop from "./BackToTop";
import Github from "./icons/Github";

const thisYear = new Date().getFullYear();
---

<footer class="border-t border-t-gray-6 dark:border-t-graydark-6">
  <div
    class="flex flex-col md:flex-row justify-between items-center gap-x-8 gap-y-2 max-w-6xl px-8 py-4 mx-auto"
  >
    <a href="/" class="flex items-center gap-3 px-2 py-1">
      <img src="/favicon.svg" alt="" width="20" height="28" class="w-5 h-7" />
      <p class="font-medium text-lg">blog.mrcai.dev</p>
    </a>
    <small class="py-1 text-xs text-center text-gray-11 dark:text-graydark-11">
      ©2022-{thisYear}
      <a
        href="https://mrcai.dev"
        target="_blank"
        class="hover:text-gray-12 dark:hover:text-graydark-12 underline underline-offset-4"
      >
        Yuwang Cai</a
      >. All Rights Reserved.
    </small>
    <div class="flex items-center gap-2">
      <a
        href="https://github.com/mrcaidev/blog"
        target="_blank"
        class="p-2 rounded hover:bg-gray-4 dark:hover:bg-graydark-4 active:bg-gray-5 dark:active:bg-graydark-5"
      >
        <Github />
        <span class="sr-only">View source code on GitHub</span>
      </a>
      <BackToTop client:visible />
    </div>
  </div>
</footer>
