---
import ThemeToggler from "./ThemeToggler";
---

<header
  class="fixed top-0 left-0 right-0 px-8 py-4 bg-gray-1 dark:bg-graydark-1 bg-opacity-70 dark:bg-opacity-70 backdrop-blur z-10"
>
  <div class="flex justify-between items-center max-w-5xl mx-auto">
    <a href="/" class="p-1">
      <img src="/favicon.svg" alt="" width="24" height="32" class="w-6 h-8" />
      <span class="sr-only">Navigate to homepage</span>
    </a>
    <ThemeToggler client:load />
  </div>
</header>
