---
import ThemeToggler from "./ThemeToggler";
---

<header class="flex justify-between items-center max-w-6xl px-8 py-4 mx-auto">
  <a href="/" class="p-1">
    <img src="/favicon.svg" alt="" width="24" height="32" class="w-6 h-8" />
    <span class="sr-only">Navigate to homepage</span>
  </a>
  <ThemeToggler client:load />
</header>
