<p class="group relative w-fit py-2 mb-4 font-bold text-3xl">
  <slot />
  <span
    aria-hidden="true"
    class="absolute left-0 bottom-0 w-full h-[3px] rounded bg-sky-9 dark:bg-skydark-9 origin-left group-hover:scale-x-125 transition-transform"
  ></span>
</p>
