---
import Twitter from "./icons/Twitter";

export type Props = {
  url: string;
  tags: string[];
};
const { url, tags } = Astro.props;

const encodedText = encodeURIComponent(
  "I found a good article on the web. Check it out!"
);
const encodedUrl = encodeURIComponent(url);
const encodedTags = encodeURIComponent(tags.join(","));
const shareUrl = `https://twitter.com/intent/tweet?text=${encodedText}&url=${encodedUrl}&hashtags=${encodedTags}&via=mrcaidev`;
---

<a href={shareUrl} target="_blank" class="block p-3">
  <Twitter size={20} />
  <span class="sr-only">Share this post on Twitter</span>
</a>
