---
export type Props = {
  name: string;
};
const { name } = Astro.props;

const href = "/tags/" + name.toLowerCase().replace(/\s+/g, "-");
---

<a
  href={href}
  class="text-sm sm:text-base italic text-gray-11 dark:text-graydark-11 hover:text-gray-12 dark:hover:text-graydark-12"
>
  #{name}
</a>
